<div class="landing_page_container">
        <br>
        <br>
        <h1>BIKEPACKER</h1>
        <h3> Adventure in your backyard</h3>

        <div>
        <p>Bikepacker provides a platform where your gravelbikes can be sold to the next adventurer <br> 
            gravel bikes are not ment to gather dust in a garage, they crave for dusty roads in your backyard<p>
        </div>
        <div>
        <%= link_to "Buy", items_path, class:"btn btn-outline-light btn-lg button-spacing" %>
        <%= link_to "Sell", new_item_path, class:"btn btn-outline-light btn-lg button-spacing"%>
        </div>
</div>

<% if false%>
<%= image_tag "bikepacking.jpeg", class:"full-fit" %>
<% end%>