<h1>Welcome to Bikepacker</h1>
<h3> Adventure in your backyard</h3>

<p>Bikepacker provides a platform where your gravelbikes can be sold to the next adventurer<p>
<p>gravel bikes are not ment to gather dust in your garage, they crave for dusty roads in your backyard<p>

<%= link_to "Buy", items_path %>
<%= link_to "Sell", new_item_path %>