

.index_container{
    margin: 1.5rem;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.index_card {
    margin: 1rem;
    padding: 1rem;
    width: 400px;
    height: 300px;
    border: 2px solid black;
}

.show_card {
    margin: 1rem;
    padding: 1rem;
    width: 800px;
    height: 600px;
    border: 2px solid black;
}


.show_image {
    height: 400;
    width: 280;
}