.item-show-image {
    width: 100%;
    height: 100%;
}
.btn-right{
    float: right;
}
.item-description{
    min-height: 50px;
}

.card-background{
    // background-color: #F4E185;
    background-color: #98DDCA;
}

.sub-text {
    color: #444444;
    font-style: italic;
}